* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    max-width: 1200px;
    margin: 0 auto;
}

.section-flex {
    display: flex;
    justify-content: center;
}

.margin-b-t {
    margin: .6rem 0 .6rem 0;
}

.padding-div-t-b {
    padding: 8rem 0;
}

.wave-grey {
    color: #f6f6f6;
    background-color: #ffffff;
}

.wave-white {
    color: #ffffff;
    background-color: #f6f6f6;
}

/* Link */
a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
}

/******/

/* Button */
.btn {
    background-color: #ffffff;
    color: #24306e;
    border: none;
    border-radius: 1.6rem;
    font-size: 1.3rem;
    padding: .8rem 1.4rem;
    cursor: pointer;
}

.btn span {
    font-size: 1.1rem;
}

.btn:hover {
    -webkit-box-shadow: 0 0 1em 0 #24306e;
    -moz-box-shadow: 0 0 1em 0 #24306e;
    -o-box-shadow: 0 0 1em 0 #24306e;
    box-shadow: 0 0 1em 0 #24306e;
    color: #255ee9;
}

.btn-small {
    font-size: 1rem;
    padding: .5rem .8rem;
    border-radius: 1rem;
}

.btn-dark {
    background-color: #23272a;
    color: #ffffff;
}

.btn-dark:hover {
    background-color: #424649;
    color: #ffffff;
}

.btn-blue {
    background-color: #7289da;
    color: #ffffff;
}

.btn-blue:hover {
    background-color: #8c9ce0;
    color: #ffffff;
}
/*******/

/* start NAV */
nav {
    background-color: #255ee9;
    padding: .6rem 0 .6rem 0;
}

.nav-section {
    display: flex;
    align-items: center;
}

.nav-section ul {
    list-style: none;
    text-align: center;    
}

.nav-section li {
    padding: 0 1rem 0 1rem;
    display: inline-block;
}

.nav-link {
    flex-grow: 2;
}
/* end NAV */

/* start HEADER */
header {
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 11.3rem 0;
}

.header-centered {
    max-width: 900px;
    margin: 0 auto;
}

.header-section {
    text-align: center;
    color: #ffffff;
}

.header-section h1 {
    font-size: 3rem;
    padding-top: 3rem;
}

.header-section p {
    font-size: 1.3rem;
    padding: 2rem 0 1rem 0;
    line-height: 2rem;
}

.header-section .btn-dark {
    margin-left: 1.1rem;
}
/* end HEADER */

/* start MAIN */
.div-medium {
    flex-grow: 2;
}

.div-small {
    flex-grow: 1;
}

.div-small h2 {
    font-size: 2.8rem;
    padding-top: 2rem;
    text-align: left;
}

.div-small p {
    font-size: 1.3rem;
    padding: 2rem 0 1rem 0;
    line-height: 2rem;
    text-align: left;
}

.div-big h2 {
    font-size: 2.8rem;
    padding-top: 2rem;
    text-align: center;
}

.div-big p {
    font-size: 1.3rem;
    padding: 2rem 0 1rem 0;
    line-height: 2rem;
    text-align: center;
}

.background-grey {
    background-color: #f6f6f6;
}

.cta {
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 6rem;
}

.cta h3 {
    font-size: 1.5rem;
    padding: .5rem 5rem 2.5rem 5rem;
    text-align: center;
}
/* end MAIN */

/* start FOOTER */
.footer-first-section-padding {
    padding: 3rem 0 1.25rem 0;
}

.footer-second-section-padding {
    padding: .5rem 0 3rem 0;
}

.footer-border {
    border-bottom: .2rem solid #525557;
}

.div-footer-small {
    flex-grow: 1;
}

.div-footer-big {
    flex-grow: 2;
}

.div-footer-big ul {
    list-style: none;
    font-size: 1rem;
    line-height: 2rem;
}

.div-footer-big ul li:first-child a {
    color: #7289da;
}

.div-footer-small h3 {
    font-size: 1.5rem;
    text-align: left;
    color: #7289da;
    padding-bottom: .8rem;
}

.div-footer-small p {
    font-size: 1rem;
    text-align: left;
    color: #ffffff;
    display: inline-block;
}

.div-footer-small p span {
    cursor: pointer;
}

.div-footer-small img {
    max-width: 1.3rem;
    cursor: pointer;
}

.div-footer-small ul {
    list-style: none;
    text-align: left;
    padding-top: .8rem;    
}

.div-footer-small li {
    padding-right:.5rem;
    display: inline;
}

.footer-div-grow {
    flex-grow: 2;
}

.footer-background {
    background-color: #23272a;
}
.footer-align {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
/* end FOOTER */